{% extends "base-layout.html.twig" %}

{% block title %}Le classement des mousses{% endblock %}

{% block content %}
<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-tabs__tab-bar">
        <a href="#general" class="mdl-tabs__tab is-active">Général</a>
        <a href="#moi" class="mdl-tabs__tab">Moi</a>
    </div>

    <div class="mdl-tabs__panel is-active" id="general">

        <div class="mdl-grid">
            <div class="mdl-layout-spacer"></div>
            <!-- Rechercher une mousse -->
            <div class="mdl-cell mdl-cell--4-col mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                <label class="mdl-button mdl-js-button mdl-button--icon" for="expando1">
                    <i class="material-icons">search</i>
                </label>
                <div class="mdl-textfield__expandable-holder">
                    <input class="mdl-textfield__input search" type="text" id="expando1">
                    <label class="mdl-textfield__label" for="expando1">Expandable text field</label>
                </div>
            </div>
            <div class="mdl-layout-spacer"></div>
        </div>

        <ul class="mdl-list list">
            {% for mousse in mousses %}
            <li class="mdl-list__item mdl-list__item--three-line">
                <span class="mdl-list__item-primary-content">
                    <span class="mousse_name">{{ mousse.name }}</span>
                    <span class="mdl-list__item-text-body mousse_description">
                        {{ mousse.description }}
                    </span>
                </span>
                <span class="mdl-list__item-secondary-content">
                    {#{{ (mousse.rating*100)|number_format(0, ',', ' ') }}%#}
                    {% set star0 = '<i class="material-icons"  style="font-size: 15px !important">star_border</i>' %}
                    {% set star1 = '<i class="material-icons"  style="font-size: 15px !important">star_half</i>' %}
                    {% set star2 = '<i class="material-icons"  style="font-size: 15px !important">star</i>' %}
                    <div style="min-width: 80px">
                    {% if mousse.rating == 1 %}
                        {{ (star2 ~ star2 ~ star2 ~ star2 ~ star2)|raw }}
                    {% elseif mousse.rating > 0.9 %}
                        {{ (star2 ~ star2 ~ star2 ~ star2 ~ star1)|raw }}
                    {% elseif mousse.rating > 0.8 %}
                        {{ (star2 ~ star2 ~ star2 ~ star2 ~ star0)|raw }}
                    {% elseif mousse.rating > 0.7 %}
                        {{ (star2 ~ star2 ~ star2 ~ star1 ~ star0)|raw }}
                    {% elseif mousse.rating > 0.6 %}
                        {{ (star2 ~ star2 ~ star2 ~ star0 ~ star0)|raw }}
                    {% elseif mousse.rating > 0.5 %}
                        {{ (star2 ~ star2 ~ star1 ~ star0 ~ star0)|raw }}
                    {% elseif mousse.rating > 0.4 %}
                        {{ (star2 ~ star2 ~ star0 ~ star0 ~ star0)|raw }}
                    {% elseif mousse.rating > 0.3 %}
                        {{ (star2 ~ star1 ~ star0 ~ star0 ~ star0)|raw }}
                    {% elseif mousse.rating > 0.2 %}
                        {{ (star2 ~ star0 ~ star0 ~ star0 ~ star0)|raw }}
                    {% elseif mousse.rating > 0.1 %}
                        {{ (star1 ~ star0 ~ star0 ~ star0 ~ star0)|raw }}
                    {% else %}
                        {{ (star0 ~ star0 ~ star0 ~ star0 ~ star0)|raw }}
                    {% endif %}
                    </div>
                </span>
                <!--<span class="mdl-list__item-secondary-content">-->
                <!--<a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>-->
                <!--</span>-->
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="mdl-tabs__panel" id="moi">

        <div class="mdl-grid">
            <div class="mdl-layout-spacer"></div>
            <!-- Rechercher une mousse -->
            <div class="mdl-cell mdl-cell--4-col mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                <label class="mdl-button mdl-js-button mdl-button--icon" for="expando2">
                    <i class="material-icons">search</i>
                </label>
                <div class="mdl-textfield__expandable-holder">
                    <input class="mdl-textfield__input search" type="text" id="expando2">
                    <label class="mdl-textfield__label" for="expando2">Expandable text field</label>
                </div>
            </div>
            <div class="mdl-layout-spacer"></div>
        </div>

        <ul class="mdl-list list">
            {% for mousse in mousses_user %}
                <li class="mdl-list__item mdl-list__item--three-line">
                <span class="mdl-list__item-primary-content mousse_description">
                    <span class="mousse_name">{{ mousse.name }}</span>
                    <span class="mdl-list__item-text-body">
                        {{ mousse.description }}
                    </span>
                </span>
                <span class="mdl-list__item-secondary-content">
                    {{ (mousse.rating*100)|number_format(0, ',', ' ') }}%
                </span>
                    <!--<span class="mdl-list__item-secondary-content">-->
                    <!--<a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>-->
                    <!--</span>-->
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<script>
</script>
{% endblock content %}
